.sidebar{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: rgb(213, 219, 221);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(75, 72, 72);
    height: 100%;
}

.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.sidebarItem > p{
    font-family: 'Varela Round';
}

.sidebarTitle{
    margin: 10px;
    margin-top: 20px;
    padding: 8px;
    width: 80%;
    border-top: 1px solid rgb(22, 19, 19);
    border-bottom: 1px solid rgb(22, 19, 19);
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.sidebarList{
    list-style: none;
    margin-bottom: 30px;
}

.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    cursor: pointer;
}

.sidebarIcon{
    color: rgb(63, 62, 62);
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.sidebarList{
    height: 60px;
}